

<section>

  <div class="container ">
    <h5 class="text-center tito1">HOW IT WORKES?</h5>
    <img src="./assets/images/title _line_section@2x.png" class="index img-responsive">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top mama1 img-responsive" src="./assets/images/ic_booking@1x.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title oui">Booking</h4>
            <p class="card-text ans1">Chose your service and file</p>
            <p class="card-text ans1">Your avilability and your section</p>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top mama1 img-responsive" src="./assets/images/ic_payment@1x.png">
          <div class="card-body">
            <h4 class="card-title oui">PAYEMENT</h4>
            <p class="card-text ans1">Set your payement your confirm your</p>
            <p class="card-text ans1">apointement</p>
            <p class="card-text ans1">Payement is 100% is only</p>
            <p class="card-text ans1">a secure platform</p>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top mama1 img-responsive" src="./assets/images/ic_meeting@1x.png">
          <div class="card-body">
            <h4 class="card-title oui">Metting</h4>
            <p class="card-text ans1">The appointment a moment for you</p>
            <p class="card-text ans1">with a passionat expert and </p>
            <p class="card-text ans1">listining do your designers</p>

          </div>
        </div>
      </div>
      <div class="container oui2">
        <button type="button" class="btn btn-primary btn-lg oui54 ">!Reserve</button>
      </div>
    </div>
  </div>
</section>