<section class="it1">
  <div class="container">
    <h5 class="text-center tito1">WE ARE CLOSE TO YOU ON</h5>
    <img src="./assets/images/title _line_section@2x.png" class="index">
    <div class="row it1">
      <div class="col-md-12 it1">
        <div id="news-slider" class="owl-carousel it1">
          <div class="post-slide">
            <div class="post-img">

              <img class="img-responsive" src="./assets/images/mobile_phones@1x.png" alt="">


            </div>
            <div class="post-review">

              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad magni, nesciunt
                obcaecati possimus quasi quibusdam quos ratione sequi sit veritatis.</p>
              <div class=row>
                <div class="col-sm-6">
                  <img class="img-responsive boot1" src="./assets/images/ic_available_app_store_pressed@1x.png" alt=""
                    class="">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="./assets/images/ic_available_google_play_pressed@1x.png" alt=""
                    class="">
                </div>


              </div>
              <div class=row>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-primary btn-lg oui55">!Reserve</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</section>