<section>
  <div id="carouselExampleIndicators ">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="./assets/images/recomended_background_image@2x.png">
        <div class="carousel-caption d-none d-md-block ">
          
          <h5 class="yes1" *ngFor="let i of res">TESTED APROVED1RECOMENDED BY {{ i.data.label }}</h5>
          <img src="./assets/images/title _line_category_2@2x.png" class="mess">
        </div>
        <div class="carousel-caption d-none d-md-block ">
          <img src="./assets/images/capital_logo@1x.png" class="mess1">



          <div class="container tito">

            <p class="text-center esmm">My clam op tokes up the much neded montle</p>
            <p class="text-center esmm">of beauty concierge in controle london </p>
          </div>





        </div>




      </div>
    </div>
  </div>
</section>